<div class="content">
    <div class="content__fc">
        <h2>Hello MTF</h2>
        <p>
            Saving Costs with Automation
            Auto Recovery Cost (ARC) has developed a fully automated process to import common expenses directly into Clio.  ARC is able to take the information for Cost Recovery software like PCS Director, Print Audit, Equitrac, P-counter, and others and import this information directly into Clio without the 10,000 keystrokes or human mistakes.  
        </p>
    </div>
    <div class="content__fc">
        <h1>You are the MTF</h1>
    </div>
</div>