<div class="content">
    <div class="content__fc">
        <h2>Saving Costs with Automation</h2>
        <p>
            Auto Recovery Cost (ARC) has developed a fully automated process to import common expenses directly into Clio.  ARC is able to take the information for Cost Recovery software like PCS Director, Print Audit, Equitrac, P-counter, and others and import this information directly into Clio without the 10,000 keystrokes or human mistakes.  
        </p>
    </div>
    <div class="content__fc">
       <p>
        Auto Recovery Cost is all about reducing the amount of effort for micro-billing customers for faxes, prints, scans, and copies.
       </p>
    </div>
</div>